/* Styles per l'sprint 5 de l'itinerari ANGULAR de l'alumne Toni Machado*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 2em 3em;
}
main {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.weatherBox {
  display: flex;
  flex-direction: row;
  gap: 0.7em;
  font-size: 1.1em;
  align-items: center;
}
#icone {
  width: 50px;
  padding-right: 0.5em;
  border-right: solid 1px rgb(199, 199, 199);
}
.center {
  max-width: 800px;
  background-color: rgb(252, 187, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 2.5em 3.5em;
  margin: 1em 2em;
  gap: 2em;
  border-radius: 20px;
  box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.2);
}
.smaily {
  border: none;
  font-size: 2.4em;
  background-color: rgb(252, 187, 255);
}
.scoreSmaily {
  display: flex;
  flex-direction: row;
  gap: 1.6em;
}
#next {
  padding: 1em 2em;
  background-color: rgb(188, 90, 250);
  border: none;
  border-radius: 20px;
  color: #fff;
}
button:hover {
  cursor: pointer;
}
h1 {
  font-size: 1.5em;
  color: rgb(61, 61, 61);
}
#acudit {
  font-size: 1.2em;
}
